@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Base/_variables.scss";

body {
  font-family: "lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}
